{% extends "myapp/base.html" %}
{% block content %}
<div class="centerstage">
  {% for post in post_list %}
  <br>
  <div class="post">
    <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
    <div class="date">
      <h4> Author Name : <strong>{{ post.author }}</strong> </h4>
      <p> Published On : <strong>{{ post.published_date }}</strong> </p>
    </div>
<a href="{% url 'post_detail' pk=post.pk %}"> Comments : {{ post.approved_comments.count }}</a>
</div>
{% endfor %}
</div>
{% endblock %}
